* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

#sideNav {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0px;
  top: 0px;
  background-color: black;
  text-align: center;
  height: 100vh;
  width: 90vw;
  min-width: 300px;
  max-width: 350px; }
  #sideNav .logo img {
    height: 50px; }
  #sideNav .hamburger {
    position: relative;
    width: 40px;
    height: auto;
    margin: 10px;
    float: left; }
    #sideNav .hamburger span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: white;
      opacity: 0.7;
      border: none;
      border-radius: 5px; }
    #sideNav .hamburger span:nth-child(1) {
      top: 0px; }
    #sideNav .hamburger span:nth-child(2) {
      top: 12.5px; }
    #sideNav .hamburger span:nth-child(3) {
      top: 25px; }
  #sideNav nav {
    margin-top: 15px; }
    #sideNav nav ul li a {
      text-decoration: none;
      font-weight: lighter;
      font-size: 18px;
      color: white;
      line-height: 2; }
  #sideNav #navCont {
    position: absolute;
    bottom: 0px; }
    #sideNav #navCont .icon img {
      height: 30px;
      width: auto;
      margin: 10px; }
    #sideNav #navCont hr {
      border: none;
      height: 2px;
      color: white;
      background-color: white;
      width: 80%;
      margin: 0 auto; }
    #sideNav #navCont .navMap {
      display: flex;
      align-items: center; }
      #sideNav #navCont .navMap p {
        color: white;
        width: 50%;
        text-align: left;
        font-weight: lighter;
        padding: 15px; }
      #sideNav #navCont .navMap img {
        width: 50%;
        height: 150px;
        padding: 15px; }

#banner {
  z-index: 2;
  width: 100vw;
  height: 50px;
  background-color: black;
  display: flex; }
  #banner .logo {
    margin: 0 auto; }
    #banner .logo img {
      height: 50px; }
  #banner .hamburger {
    position: relative;
    width: 40px;
    height: auto;
    margin: 10px;
    float: left; }
    #banner .hamburger span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: white;
      opacity: 0.7;
      border: none;
      border-radius: 5px; }
    #banner .hamburger span:nth-child(1) {
      top: 0px; }
    #banner .hamburger span:nth-child(2) {
      top: 12.5px; }
    #banner .hamburger span:nth-child(3) {
      top: 25px; }

#main {
  z-index: 1;
  width: 100vw; }
  #main #mainImg {
    width: 100%;
    height: 40vh;
    max-height: 500px;
    background-image: url("../images/room1.jpg");
    background-position: center;
    background-size: cover; }

#mainText p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 55px;
  padding-bottom: 55px; }

hr {
  border: none;
  height: 2px;
  color: black;
  background-color: black; }

section {
  display: flex;
  justify-content: center; }
  section .contentText {
    width: 50vw;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-color: white;
    align-self: center; }
    section .contentText h3 {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 10px; }
    section .contentText p {
      font-size: 11px; }
    @media only screen and (min-width: 1000px) {
      section .contentText p {
        font-size: 12px; } }

#map {
  height: 50vw;
  max-height: 300px !important; }

#findUs .contentImg {
  background-image: url("../images/map.png");
  background-position: center;
  width: 50vw;
  height: 50vw;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }

#ourMenu .contentImg {
  background-image: url("../images/platters.jpg");
  background-position: right top;
  width: 50vw;
  height: 50vw;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }
#ourMenu .contentImg img {
  order: 2; }
#ourMenu .contentText {
  order: 1; }
#ourMenu button {
  background-color: #dea750;
  margin-top: 15px;
  padding: 5px 15px;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 12px;
  text-align: center; }

#offers .contentImg {
  background-image: url("../images/coffees.jpg");
  background-position: center;
  width: 50vw;
  height: 50vw;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }

#giveAway .contentImg {
  background-image: url("../images/coffeeCups.jpg");
  background-position: center;
  width: 50vw;
  height: 50vw;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }
#giveAway .contentImg img {
  order: 2; }
#giveAway .contentText {
  order: 1; }
#giveAway .icon {
  display: flex;
  margin: 0 auto; }
  #giveAway .icon img {
    height: 20px;
    width: auto;
    margin: 5px; }
  @media only screen and (min-width: 1000px) {
    #giveAway .icon img {
      height: 30px;
      width: auto; } }

.group1 {
  display: flex; }
  .group1 .icon img {
    height: 15px;
    width: auto;
    margin: 5px; }
  .group1 p {
    align-self: center; }

#keyMenu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; }
  #keyMenu .group2 {
    display: flex; }
    #keyMenu .group2 img {
      margin: 2px;
      height: 20px;
      width: auto; }
    #keyMenu .group2 p {
      align-self: center; }

.groupLarge img {
  height: 30px;
  width: auto;
  margin: 10px; }

#tabs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center; }
  #tabs .tab {
    flex: 1;
    padding: 15px; }
    #tabs .tab h2 {
      font-size: 18px; }
    #tabs .tab h2 {
      font-weight: lighter; }

.tabs {
  background-color: #9e9e9e;
  opacity: 0.4; }

.tabOn {
  background-color: white;
  opacity: 1; }

#menuContent {
  padding-top: 20px;
  width: 80vw;
  min-width: 300px;
  max-width: 450px;
  text-align: center;
  margin: 0 auto; }
  #menuContent h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px; }
  #menuContent h3 {
    padding-top: 15px; }
  #menuContent p {
    font-size: 11px; }
  @media only screen and (min-width: 1000px) {
    #menuContent p {
      font-size: 12px; } }
  #menuContent h4 {
    font-size: 11px;
    padding-bottom: 15px;
    font-weight: lighter; }
  #menuContent .menuHide {
    display: none; }
  #menuContent .menuShow {
    display: block; }

.groupMenu {
  display: flex;
  justify-content: space-between;
  height: 25px; }
  .groupMenu .items {
    display: inline-flex; }
    .groupMenu .items .menuIcon img {
      margin: 2px;
      height: 20px;
      width: auto; }
  .groupMenu p {
    align-self: center;
    height: auto; }

#contact {
  padding: 15px; }
  #contact h2 {
    font-size: 18px; }
  #contact h2 {
    padding-bottom: 10px;
    font-weight: bold; }
  #contact h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px; }
  #contact h3 {
    padding-bottom: 5px; }
  #contact p {
    font-size: 11px; }
  @media only screen and (min-width: 1000px) {
    #contact p {
      font-size: 12px; } }
  #contact .conSec {
    padding-bottom: 20px; }

#imgCon {
  display: flex;
  justify-content: space-between; }
  #imgCon .imgl {
    width: 45vw;
    height: 45vw;
    background-position: center;
    background-size: cover; }
  #imgCon .img1 {
    background-image: url(../images/coffeeMachine.jpg); }
  #imgCon .img2 {
    background-image: url(../images/salads.jpg); }
  #imgCon .img3 {
    display: none;
    background-image: url(../images/cabenet.jpg); }

@media only screen and (min-width: 500px) {
  .imgl {
    max-height: 250px; } }
@media only screen and (min-width: 1000px) {
  #sideNav {
    display: block;
    min-width: auto;
    width: 25%;
    max-width: none;
    position: fixed; }
    #sideNav .hamburger {
      display: none; }

  #banner {
    display: none; }

  #main {
    width: 75%;
    float: right;
    position: absolute;
    right: 0; }
    #main #mainImg {
      height: 60vh; }

  section .contentText {
    padding-right: 0px; }

  #findUs {
    display: none; }

  #imgCon .imgl {
    width: 23vw;
    height: 23vw; }
  #imgCon .img3 {
    display: flex; }

  .hrHide {
    display: none; } }

/*# sourceMappingURL=style.css.map */
