* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif; }

#sideNav {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: black;
  text-align: center;
  height: 100vh;
  width: 90vw;
  min-width: 300px;
  max-width: 350px; }
  #sideNav .logo img {
    height: 50px; }
  #sideNav .burgerMenu {
    float: left;
    display: block; }
    #sideNav .burgerMenu img {
      height: 30px;
      width: auto;
      margin: 10px; }
  #sideNav nav ul li a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 18px;
    color: white;
    line-height: 2; }
  #sideNav #navCont {
    position: absolute;
    bottom: 0px; }
    #sideNav #navCont .icon img {
      height: 30px;
      width: auto;
      margin: 10px; }
    #sideNav #navCont hr {
      border: none;
      height: 2px;
      color: white;
      background-color: white;
      width: 80%;
      margin: 0 auto; }
    #sideNav #navCont .navMap {
      display: flex;
      align-items: center; }
      #sideNav #navCont .navMap p {
        color: white;
        width: 50%;
        text-align: left;
        font-weight: lighter;
        padding: 15px; }
      #sideNav #navCont .navMap img {
        width: 50%;
        height: 150px;
        padding: 15px; }

#banner {
  width: 100vw;
  background-color: black; }
  #banner .logo {
    text-align: center; }
    #banner .logo img {
      height: 50px; }
  #banner .icon {
    float: left; }
    #banner .icon img {
      height: 30px;
      width: auto;
      margin: 10px; }

#main {
  width: 100vw; }
  #main #mainImg {
    width: 100%;
    height: 40vh;
    max-height: 500px;
    background-image: url("../images/room1.jpg");
    background-position: center;
    background-size: cover; }

#mainText p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 55px;
  padding-bottom: 55px; }

hr {
  border: none;
  height: 2px;
  color: black;
  background-color: black; }

section {
  display: flex;
  justify-content: center; }
  section .contentText {
    width: 50vw;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-color: white;
    align-self: center; }
    section .contentText h3 {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 10px; }
    section .contentText p {
      font-size: 11px; }
    @media only screen and (min-width: 1000px) {
      section .contentText p {
        font-size: 12px; } }

#findUs .contentImg {
  background-image: url("../images/map.png");
  background-position: center;
  width: 50vw;
  height: 50vw;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }

#ourMenu .contentImg {
  background-image: url("../images/platters.jpg");
  background-position: right top;
  width: 50vw;
  height: 50vw;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }
#ourMenu .contentImg img {
  order: 2; }
#ourMenu .contentText {
  order: 1; }
#ourMenu button {
  background-color: #dea750;
  margin-top: 15px;
  padding: 5px 15px;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 12px;
  text-align: center; }

#offers .contentImg {
  background-image: url("../images/coffees.jpg");
  background-position: center;
  width: 50vw;
  height: 50vw;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }

#giveAway .contentImg {
  background-image: url("../images/coffeeCups.jpg");
  background-position: center;
  width: 50vw;
  height: 50vw;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }
#giveAway .contentImg img {
  order: 2; }
#giveAway .contentText {
  order: 1; }
#giveAway .icon {
  display: flex;
  margin: 0 auto; }
  #giveAway .icon img {
    height: 20px;
    width: auto;
    margin: 5px; }
  @media only screen and (min-width: 1000px) {
    #giveAway .icon img {
      height: 30px;
      width: auto; } }

.group1 {
  display: flex; }
  .group1 .icon img {
    height: 15px;
    width: auto;
    margin: 5px; }
  .group1 p {
    align-self: center; }

@media only screen and (min-width: 1000px) {
  #sideNav {
    display: block;
    width: 20vw;
    max-width: none;
    min-width: none;
    float: left;
    position: fixed; }
    #sideNav .burgerMenu {
      display: none; }

  #banner {
    display: none; }

  #main {
    float: right;
    width: 80vw; }

  #findUs {
    display: none; } }

/*# sourceMappingURL=style.css.map */
