@import "variables.scss";

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

#banner{
	width: 100vw;
	background-color: black;
	.logo{
		text-align: center;
		img{
			height: 50px;
		}
	}
}

#sideNav{
	display: none;
	.logo{
		text-align: center;
	}
}

main img{
	display: block;
}

#mainImg img{
	width: 100vw;
}

#mainText{
	p{
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		padding-top: 55px;
		padding-bottom: 55px;
	}
}

hr{
	border: none;
     height: 2px;
     color: black;
     background-color: black;
}

main{
	section{
		display: flex;
		align-items: center;
		.contentImg img{
			width: 50vw;
			height: auto;
		}
		.contentText{
			width: 50vw;
			padding: 15px;
			margin: 0 auto;
			@include pText;
			h3{
				padding-bottom: 5px;
			}
		}
	}
	#ourMenu{
		@include reorder;
	}
	#giveAway{
		@include reorder;
	}
}


// @media only screen and (min-width: 1000px) {
// 	#sideNav{
// 		display: inline-block;
// 	}
// }
