@import "variables.scss";

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

#banner{
	width: 100vw;
	background-color: black;
	.logo{
		text-align: center;
		img{
			height: 50px;
		}
	}
	.icon{
		@include menuIcon;
		float: left;
	}
}

#sideNav{
	display: none;
	.logo{
		text-align: center;
	}
}

main img{
	display: block;
}

#mainImg img{
	width: 100vw;
}

#mainText{
	p{
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		padding-top: 55px;
		padding-bottom: 55px;
	}
}

hr{
	border: none;
     height: 2px;
     color: black;
     background-color: black;
}

section{
	display: flex;
	align-items: center;
	.contentImg {
		width: 50vw;
		img{
			height: 160px;
		}
	}
	.contentText{
		width: 50vw;
		padding: 15px;
		margin: 0 auto;
		background-color: white;
		@include hText;
		@include pText;
		p{
			margin-bottom: 15px;
		}
	}
}

#ourMenu{
	@include reorder;
	button{
		background-color: #dea750;
		padding: 5px;
		border: none;
		color: white;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
	}
}

#giveAway{
	@include reorder;
}

.group1{
	display: flex;
	align-items: center;
	.icon{
		@include icons;
	}
}

// @media only screen and (min-width: 1000px) {
// 	#sideNav{
// 		display: inline-block;
// 	}
// }
