@import "variables.scss";

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#sideNav{
	display: none;
	position: fixed;
	z-index: 3;
	left: 0px;
	top: 0px;
	background-color: black;
	text-align: center;
	height: 100vh;
	width: 90vw;
	min-width: 300px;
	max-width: 350px;
	.logo{
		img{
			height: 50px;
		}
	}
	.hamburger {
		@include hamburger;
	}
	nav{
		margin-top: 15px;
		ul{
			li{
				a{
					text-decoration: none;
					font-weight: lighter;
					font-size: 18px;
					color: white;
					line-height: 2;
				}
			}
		}
	}
	#navCont{
		position: absolute;
		bottom: 0px;
		.icon{
			@include iconLarge;
		}
		hr{
			border: none;
			height: 2px;
			color: white;
			background-color: white;
			width: 80%;
			margin: 0 auto;
		}
		.navMap{
			display: flex;
			align-items: center;
			p{
				color: white;
				width: 50%;
				text-align: left;
				font-weight: lighter;
				padding: 15px;
			}
			img{
				width: 50%;
				height: 150px;
				padding: 15px;
			}
		}
	}
}

#banner{
	z-index: 2;
	width: 100vw;
	height: 50px;
	background-color: black;
	display: flex;
	.logo{
		margin: 0 auto;
		img{
			height: 50px;
		}
	}
	.hamburger {
		@include hamburger;
	}
}

#main{
	z-index: 1;
	width: 100vw;
	#mainImg{
		width: 100%;
		height: 40vh;
		max-height: 500px;
		background-image: url("../images/room1.jpg");
		background-position: center;
		background-size: cover;
	}
}

#mainText{
	p{
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		padding-top: 55px;
		padding-bottom: 55px;
	}
}

hr{
	border: none;
	height: 2px;
	color: black;
	background-color: black;
}

section{
	display: flex;
	justify-content: center;
	.contentText{
		width: 50vw;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		background-color: white;
		align-self: center;
		@include hText;
		@include pText;
	}
}

#map{
	height: 50vw;
	max-height: 300px !important;
}

#findUs{
	.contentImg {
		background-image: url("../images/map.png");
		background-position: center;
		@include contImg;
	}
}
#ourMenu{
	.contentImg {
		background-image: url("../images/platters.jpg");
		background-position: right top;
		@include contImg;
	}
	@include reorder;
	form{
		input{
			background-color: #dea750;
			margin-top: 15px;
			padding: 5px 15px;
			border: none;
			border-radius: 0px;
			color: white;
			font-size: 12px;
			text-align: center;
		}
	}
}
#offers{
	.contentImg {
		background-image: url("../images/coffees.jpg");
		background-position: center;
		@include contImg;
	}
}
#giveAway{
	.contentImg {
		background-image: url("../images/coffeeCups.jpg");
		background-position: center;
		@include contImg;
	}
	@include reorder;
	.icon{
		display: flex;
		margin: 0 auto;
		@include icons;
	}
}

.group1{
	display: flex;
	.icon{
		img{
			height: 15px;
			width: auto;
			margin: 5px;
		}
	}
	p{
		align-self: center;
	}
}

#keyMenu{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	.group2{
		display: flex;
		@include menuIcon;
		p{
			align-self: center;
		}
	}
}

.groupLarge{
	@include iconLarge;
}

#tabs{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	.tab{
		@include tabConstent;
		@include lText;
		h2{
			font-weight: lighter;
		}
	}
}

.tabs{
	background-color: #9e9e9e;
	opacity: 0.4;
}

.tabOn{
	background-color: white;
	opacity: 1;
}

#menuContent{
	padding-top: 20px;
	width: 80vw;
	min-width: 300px;
	max-width: 450px;
	text-align: center;
	margin: 0 auto;
	@include hText;
	h3{
		padding-top: 15px;
	}
	@include pText;
	h4{
		font-size: 11px;
		padding-bottom: 15px;
		font-weight: lighter;
	}
	.menuHide{
		display: none;
	}
	.menuShow{
		display: block;
	}
}

.groupMenu{
	display: flex;
	justify-content: space-between;
	height: 25px;
	.items{
		display: inline-flex;
		.menuIcon{
			@include menuIcon;
		}
	}
	p{
		align-self: center;
		height: auto;
	}
}

#contact{
	padding: 15px;
	@include lText;
	h2{
		padding-bottom: 10px;
		font-weight: bold;
	}
	@include hText;
	h3{
		padding-bottom: 5px;
	}
	@include pText;
	.conSec{
		padding-bottom: 20px;
	}
}

#imgCon{
	display: flex;
	justify-content: space-between;
	.imgl{
			width: 45vw;
			height: 45vw;
			background-position: center;
			background-size: cover;
	}
	.img1{
		background-image: url(../images/coffeeMachine.jpg);
	}
	.img2{
		background-image: url(../images/salads.jpg);
	}
	.img3{
		display: none;
		background-image: url(../images/cabenet.jpg);
	}
}

@media only screen and (min-width: 500px){
	.imgl{
		max-height: 250px;
	}
}

@media only screen and (min-width: 1000px) {
	#sideNav{
		display: block;
		min-width: auto;
		width: 25%;
		max-width: none;
		position: fixed;
		.hamburger{
			display: none;
		}
	}
	#banner{
		display: none;
	}
	#main{
		width: 75%;
		float: right;
		position: absolute;
		right: 0;
		#mainImg{
			height: 60vh;
		}
	}
	#findUs{
		display: none;
	}
	#imgCon{
		.imgl{
			width: 23vw;
			height: 23vw;
		}
		.img3{
			display: flex;
		}
	}
	.hrHide{
		display: none;
	}
}
