@import "variables.scss";

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

#sideNav{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: black;
	text-align: center;
	height: 100vh;
	width: 90vw;
	min-width: 300px;
	max-width: 350px;
	.logo{
		img{
			height: 50px;
		}
	}
	.burgerMenu{
		@include iconLarge;
		float: left;
		display: block;
	}
	nav{
		ul{
			li{
				a{
					text-decoration: none;
					font-weight: lighter;
					font-size: 18px;
					color: white;
					line-height: 2;
				}
			}
		}
	}
	#navCont{
		position: absolute;
		bottom: 0px;
		.icon{
			@include iconLarge;
		}
		hr{
			border: none;
			height: 2px;
			color: white;
			background-color: white;
			width: 80%;
			margin: 0 auto;
		}
		.navMap{
			display: flex;
			align-items: center;
			p{
				color: white;
				width: 50%;
				text-align: left;
				font-weight: lighter;
				padding: 15px;
			}
			img{
				width: 50%;
				height: 150px;
				padding: 15px;
			}
		}
	}
}

#banner{
	width: 100vw;
	background-color: black;
	.logo{
		text-align: center;
		img{
			height: 50px;
		}
	}
	.icon{
		@include iconLarge;
		float: left;
	}
}

#main{
	width: 100vw;
	#mainImg{
		width: 100%;
		height: 40vh;
		max-height: 500px;
		background-image: url("../images/room1.jpg");
		background-position: center;
		background-size: cover;
	}
}

#mainText{
	p{
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		padding-top: 55px;
		padding-bottom: 55px;
	}
}

hr{
	border: none;
	height: 2px;
	color: black;
	background-color: black;
}

section{
	display: flex;
	justify-content: center;
	.contentText{
		width: 50vw;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		background-color: white;
		align-self: center;
		@include hText;
		@include pText;
	}
}

#map{
	height: 50vw !important;
}

#findUs{
	.contentImg {
		background-image: url("../images/map.png");
		background-position: center;
		@include contImg;
	}
}
#ourMenu{
	.contentImg {
		background-image: url("../images/platters.jpg");
		background-position: right top;
		@include contImg;
	}
	@include reorder;
	button{
		background-color: #dea750;
		margin-top: 15px;
		padding: 5px 15px;
		border: none;
		border-radius: 0px;
		color: white;
		font-size: 12px;
		text-align: center;
	}
}
#offers{
	.contentImg {
		background-image: url("../images/coffees.jpg");
		background-position: center;
		@include contImg;
	}
}
#giveAway{
	.contentImg {
		background-image: url("../images/coffeeCups.jpg");
		background-position: center;
		@include contImg;
	}
	@include reorder;
	.icon{
		display: flex;
		margin: 0 auto;
		@include icons;
	}
}

.group1{
	display: flex;
	.icon{
		img{
			height: 15px;
			width: auto;
			margin: 5px;
		}
	}
	p{
		align-self: center;
	}
}

#tabs{
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	.tab{
		@include tabConstent;
	}
}

.tabs{
	background-color: #9e9e9e;
	opacity: 0.4;
}

.tabOn{
	background-color: white;
	opacity: 1;
}

@media only screen and (min-width: 1000px) {
	body{
		display: flex;
	}
	#sideNav{
		flex: 1;
		display: block;
		min-width: auto;
		width: 25%;
		max-width: none;
		// min-width: auto;
		// float: left;
		position: fixed;
		.burgerMenu{
			display: none;
		}
	}
	#banner{
		display: none;
	}
	#main{
		// float: right;
		width: 75%;
		// flex: 1;
		float: right;
		position: absolute;
		right: 0;
	}
	#findUs{
		display: none;
	}
}
