@mixin iconLarge {
	img{
		height: 30px;
		width: auto;
		margin: 10px;
	}
}

@mixin icons {
	img{
		height: 15px;
		width: auto;
		margin: 5px;
	}
}

@mixin hText {
	h3{
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 10px;
	}
}

@mixin pText{
	p{
		font-size: 11px;
	}
}

@mixin contImg {
	width: 50vw;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin reorder {
	.contentImg img{
		order: 2;
	}
	.contentText{
		order: 1;
	}
}
