@mixin hamburger {
	position: relative;
	width: 40px;
	height: auto;
	margin: 10px;
	float: left;
	span{
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: white;
		opacity: 0.7;
		border: none;
		border-radius: 5px;
	}
	span:nth-child(1) {
	 top: 0px;
 }
	span:nth-child(2){
	 top: 12.5px;
	}
	span:nth-child(3) {
	  top: 25px;
	}
}

@mixin iconLarge {
	img{
		height: 30px;
		width: auto;
		margin: 10px;
	}
}

@mixin icons {
	img{
		height: 20px;
		width: auto;
		margin: 5px;
	}
	@media only screen and (min-width: 1000px){
		img{
			height: 30px;
			width: auto;
		}
	}
}

@mixin lText {
	h2{
		font-size: 18px;
	}
}

@mixin hText {
	h3{
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 10px;
	}
}

@mixin pText{
	p{
		font-size: 11px;
	}
	@media only screen and (min-width: 1000px) {
		p{
			font-size: 12px;
		}
	}
}

@mixin tabConstent {
	flex: 1;
	padding: 15px;
}

@mixin contImg {
	width: 50vw;
	height: 50vw;
	max-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin reorder {
	.contentImg img{
		order: 2;
	}
	.contentText{
		order: 1;
	}
}

@mixin menuIcon {
	img{
		margin: 2px;
		height: 20px;
		width: auto;
	}
}
