@mixin iconLarge {
	img{
		height: 30px;
		width: auto;
		margin: 10px;
	}
}

@mixin icons {
	img{
		height: 20px;
		width: auto;
		margin: 5px;
	}
	@media only screen and (min-width: 1000px){
		img{
			height: 30px;
			width: auto;
		}
	}
}

@mixin hText {
	h3{
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 10px;
	}
}

@mixin pText{
	p{
		font-size: 11px;
	}
	@media only screen and (min-width: 1000px) {
		p{
			font-size: 12px;
		}
	}
}

@mixin contImg {
	width: 50vw;
	height: 50vw;
	max-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin reorder {
	.contentImg img{
		order: 2;
	}
	.contentText{
		order: 1;
	}
}
